@model ShopDTO.CategoryDTO

@{
    ViewData["Title"] = "Delete";
}

<div class="bdlayout pb-3">
    <div class="container  ">
        <h3 style="color: black;
    font-size: 18px;">
            Bạn có chắc chắn muốn xóa loại sản phẩm này không?
        </h3>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CategoryName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CategoryName)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="CategoryId" />
            <input type="submit" value="Xóa" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-primary">Trở Về</a>
        </form>
    </div>
</div>